

#subhead {
	text-align:center;
	line-height: 1.2em;
	color: #666;
	margin-bottom: 2em;
}
#screenshot {
  -moz-box-shadow:    0 3px 15px 0px #333;
  -webkit-box-shadow: 0 3px 15px 0px #333;
  box-shadow:         0 3px 15px 0px #333;
}